@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lexend Peta', sans-serif;
}

.TodoCounter{
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    margin: 0;
    padding: 48px;
    font-weight: normal;
}

.span-numero{
    color: #F29727;
    font-weight: bold;
}

.span-numero2{
    color: #F29727;
    font-weight: bold;
}


